/*
    To Do
        Responsive Styles
        Animation for entrance/landing
        Animation for scrolling?
        Research cool ways of creating a gallery
        Add resume/bio?
        Filter by type of project
        Optimize all assets -- TinyJPG/TinyPNG, minify, gzip, create .htaccess
        Add Sass?
*/

/* Preliminary palette */
/*
    purple: #b58bba
    light purple: #e9e1ea
    coral: #f15946
    orange: #f4a22e
    dark blue: #141b41
    yellow: #f9c22e
    teal: #3cbbb1
    dark grey: #333
*/

/* Variables */
:root {
    --body-font: 'PT Sans', Arial, Helvetica, sans-serif;
    --title-font: 'Comfortaa', Arial, Helvetica, sans-serif;
  }
  

/* Global */
body {
    background-color: #fcfaf2;
}
body > div {
    color: #663715;
    font-family: var(--body-font);
    font-weight: normal;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
}

h1 {
    color: #b58bba;
    font-family: var(--title-font);
    font-size: 5.75em;
    line-height: 1.2em;
    margin: 0 0 -20px 0;
    display: block;
    position: relative;
    text-shadow: 2px 0 #fcfaf2, -2px 0 #fcfaf2, 0 2px #fcfaf2, 0 -2px #fcfaf2, 1px 1px #fcfaf2, -1px -1px #fcfaf2, 1px -1px #fcfaf2, -1px 1px #fcfaf2;

    /* transform: scale(0.4);
    transform-origin:bottom left;
    animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1); */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}
h1 > span {
    display: block;
    position: relative;
    animation: 0.33s fade-in forwards cubic-bezier(0.11, 0, 0.5, 0);
    opacity: 0;
    /* filter: blur(4px); */
}

h2, .h2	{
    font-family: var(--body-font);
    font-weight: normal;
    font-size: 2.1em;
    margin: 10px 0 20px;
}
p	{
    font-family: var(--body-font);
    line-height: 1.5;
    font-size: 1.2em;
    margin: 20px;
    text-align: justify;
}
a { color: #f15946; }
a:hover	{ color: #339d94; text-decoration: none; }
hr {
    border: 1px solid #e9e1ea;
    margin: 20px 0;
    position: relative;
    width: 100%;

    /* animation: tilt 0.25s 0.5s forwards ease-in-out; */
    transform: rotate(0);
}
img { width: 100%; }

/* Helper Classes */
.center { text-align: center; }
.cursive { font-family: var(--title-font); line-height: 1.6; }
.flex { display: flex; align-items: center; }

/* Element-specific */
/* Intro */
h1::after {
    color: #f15946;
    content: "Hello!";
    display: block;
    position: absolute;
    z-index: -1;
    top: 8px;
    left: 10px;

    animation: 0.4s fade-in 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
    opacity: 0;
    filter: blur(4px);
}
h1 > span::after {
    color: #e9e1ea;
    content: "Hello!";
    display: block;
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 5px;
    text-shadow: 2px 0 #f9c22e, -2px 0 #f9c22e, 0 2px #f9c22e, 0 -2px #f9c22e, 1px 1px #f9c22e, -1px -1px #f9c22e, 1px -1px #f9c22e, -1px 1px #f9c22e;
}
div > .flex:first-child { align-items: last-baseline; justify-content: space-between; }
.flex h2 { margin: 0; }
.flex > div > p { margin: 20px 0 20px 10%; }
.bio-img {
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #e9e1ea;
    display: block;
    height: 210px;
    width: 210px;
}

/* Gallery */
.project-list ul { display: flex; list-style: none; gap: 36px; padding: 0; }
.project-list li { width: 33%; }
.project-list li img {
    border: 4px solid #e9e1ea;
    border-radius: 28px;
}
.project-list li p {
    font-family: var(--title-font);
    font-size: 1em;
    letter-spacing: -0.05rem;
    margin: 20px 0;
    text-align: center;
}

/* Animation */
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}
@keyframes tilt {
    30% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(-3.5deg);
    }
    100% {
        transform: rotate(-4deg);
    }
}
