/*
    To Do
        Animation for entrance/landing
        Animation for scrolling?
        Research cool ways of creating a gallery
        Add resume/bio?
        Filter by type of project
        Optimize all assets -- TinyJPG/TinyPNG, minify, gzip, create .htaccess
        Add Sass?
*/

/* Preliminary palette */
/*
    purple: #b58bba
    light purple: #e9e1ea
    coral: #f15946
    orange: #f4a22e
    dark blue: #141b41
    yellow: #f9c22e
    teal: #3cbbb1
    dark grey: #333
*/

/* Variables */
:root {
    --body-font: 'PT Sans', Arial, Helvetica, sans-serif;
    --title-font: 'Comfortaa', Arial, Helvetica, sans-serif;
  }
  

/* Global */
body {
    background-color: #fcfaf2;
}
body > div {
    color: #663715;
    font-family: var(--body-font);
    font-weight: normal;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
}

h1 {
    color: #b58bba;
    font-family: var(--title-font);
    font-size: 5.75rem;
    line-height: 1.2em;
    margin: 0 0 -20px 0;
    display: block;
    position: relative;
    text-shadow: 2px 0 #fcfaf2, -2px 0 #fcfaf2, 0 2px #fcfaf2, 0 -2px #fcfaf2, 1px 1px #fcfaf2, -1px -1px #fcfaf2, 1px -1px #fcfaf2, -1px 1px #fcfaf2;

    /* transform: scale(0.4);
    transform-origin:bottom left;
    animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1); */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}
h1 > span {
    display: block;
    position: relative;
    animation: 0.33s fade-in forwards cubic-bezier(0.11, 0, 0.5, 0);
    opacity: 0;
    /* filter: blur(4px); */
}

h2, .h2	{
    font-family: var(--body-font);
    font-weight: normal;
    font-size: 2.1rem;
    margin: 10px 0 20px;
}

h3, .h3	{
    font-family: var(--title-font);
    font-weight: normal;
    font-size: 1.6rem;
    margin: 10px 0 20px;
}

p	{
    font-family: var(--body-font);
    line-height: 1.5;
    font-size: 1.2rem;
    margin: 20px;
    text-align: justify;
}
a { color: #f15946; }
a:hover	{ color: #339d94; text-decoration: none; }
hr {
    border: 1px solid #e9e1ea;
    margin: 20px 0;
    position: relative;
    width: 100%;

    /* animation: tilt 0.25s 0.5s forwards ease-in-out; */
    transform: rotate(0);
}
img { width: 100%; }

/* Helper Classes */
.center { text-align: center; }
.cursive { font-family: var(--title-font); line-height: 1.6; }
.flex { display: flex; align-items: center; }

.pull-quote {
    border-left: 4px solid #e9e1ea;
    font-style: italic;
    padding-left: 20px;
}

/* Element-specific */
/* Intro */
h1::after {
    color: #f15946;
    content: "Hello!";
    display: block;
    position: absolute;
    z-index: -1;
    top: 8px;
    left: 10px;

    animation: 0.4s fade-in 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
    opacity: 0;
    filter: blur(4px);
}
h1 > span::after {
    color: #e9e1ea;
    content: "Hello!";
    display: block;
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 5px;
    text-shadow: 2px 0 #f9c22e, -2px 0 #f9c22e, 0 2px #f9c22e, 0 -2px #f9c22e, 1px 1px #f9c22e, -1px -1px #f9c22e, 1px -1px #f9c22e, -1px 1px #f9c22e;
}
#header { align-items: last-baseline; justify-content: space-between; }
.flex h2 { margin: 0; }
#bio > div > p { margin: 20px 0 20px 10%; }
.bio-img {
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #e9e1ea;
    display: block;
    height: 210px;
    width: 210px;
}
section > h2 { text-align: center; }

/* Gallery */
#project-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 36px;
    padding: 0;
    flex-wrap: nowrap;
}
#project-list li { max-width: 22%; width: 25%; }
#project-list li a img {
    border: 4px solid #e9e1ea;
    border-radius: 28px;
    transition: all 0.5s ease-in;
}
#project-list li a p {
    font-family: var(--title-font);
    letter-spacing: -0.05rem;
    line-height: 1.3;
    margin: 20px 0;
    text-align: center;
}
#project-list li .project-list__description { display: none; }
#project-list li .project-list__description p { margin: 20px 0; }

/* Gallery with open item */
#project-list.expanded { flex-wrap: wrap; }

#project-list.expanded li.isOpen {
    display: flex;
    max-width: 100%;
    width: 100%;
}
/* #project-list.expanded li.isOpen a img { animation: 0.5s enlargeThumbnail forwards; } */
#project-list.expanded li.isOpen a p { display: none; }
#project-list.expanded li.isOpen .project-list__description {
    display: block;
    max-width: 70%;
    opacity: 0;
    padding-left: 42px;
    transition: opacity 1s ease;
}
#project-list.expanded li.isOpen:not(.fadeOut) .project-list__description {
    animation: 0.3s fade-in 0.1s forwards ease-in;
}
#project-list.expanded li.isOpen.fadeOut .project-list__description {
    animation: 0.2s fade-out 0s forwards ease-out;
    opacity: 1;
}

/* Career */
#career ul {
    max-width: 800px;
    margin: 0 auto;
}

/* Animation */
@keyframes enlargeThumbnail {
    100% {
        transform: scale(1.2);
    }
}
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}
@keyframes fade-out {
    100% {
        opacity: 0;
        filter: blur(0);
    }
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}
@keyframes tilt {
    30% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(-3.5deg);
    }
    100% {
        transform: rotate(-4deg);
    }
}

/* Media Queries */
@media (max-width: 940px) {
    .desktop-only { display: none; }

    h1 { font-size: 5rem; }
    h2 { font-size: 1.8rem; }
    h3 { font-size: 1.4rem; }

    body > div { padding: 5px; }

    #header { flex-direction: column; }
    #header h2 { padding-top: 26px; }

    #bio { flex-direction: column; }
    #bio > div > p { margin: 20px 10px; max-width: 600px; }

    #project-list li a p { font-size: 1rem; }

    #project-list.expanded li.isOpen { flex-wrap: wrap; }
    #project-list.expanded li.isOpen div:first-child { margin: 0 auto; }
    #project-list.expanded li.isOpen .project-list__description { max-width: 100%; }

    #career ul { max-width: 600px; }
}

@media (max-width: 600px) {
    #project-list { flex-wrap: wrap; }
    #project-list li { max-width: 40%; width: 40%; }
}
  
